In [1]:
import pandas as pd

# 讀取資料

In [2]:
df = pd.read_excel('C:/Users/abcd8/OneDrive/桌面/resume/project3/101_105students.xlsx',header=None, skiprows=1)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,學年度,設立別,學校類別,學校代碼,學校名稱,系所代碼,系所名稱,學制,正式學籍在學學生人數,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,總計,男,女
2,NaN,101,公立,一般大學,0001,國立政治大學,140101,教育學系,學士班(日間),234,75,159
3,NaN,101,公立,一般大學,0001,國立政治大學,140101,教育學系,碩士班(日間),36,3,33
4,NaN,101,公立,一般大學,0001,國立政治大學,140101,教育學系,博士班,90,50,40

# 資料清洗、調整欄位

In [3]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [4]:
df = df.drop(columns=0)
df.head()

    1     2     3     4       5       6     7        8           9    10   11
0  學年度  設立別   學校類別  學校代碼    學校名稱    系所代碼  系所名稱       學制  正式學籍在學學生人數  NaN  NaN
1  NaN   NaN   NaN   NaN     NaN     NaN   NaN      NaN          總計    男    女
2  101    公立  一般大學  0001  國立政治大學  140101  教育學系  學士班(日間)         234   75  159
3  101    公立  一般大學  0001  國立政治大學  140101  教育學系  碩士班(日間)          36    3   33
4  101    公立  一般大學  0001  國立政治大學  140101  教育學系      博士班          90   50   40

In [5]:
df.columns=['學年度','設立別','學校類別','學校代碼','學校名稱','系所代碼','系所名稱','學制','總計','男','女']

In [6]:
data = df.iloc[2:].reset_index(drop=True)

In [7]:
data

,學年度,設立別,學校類別,學校代碼,學校名稱,系所代碼,系所名稱,學制,總計,男,女
0,101,公立,一般大學,0001,國立政治大學,140101,教育學系,學士班(日間),234,75,159
1,101,公立,一般大學,0001,國立政治大學,140101,教育學系,碩士班(日間),36,3,33
2,101,公立,一般大學,0001,國立政治大學,140101,教育學系,博士班,90,50,40
3,101,公立,一般大學,0001,國立政治大學,140203,華語文教學碩士學位學程,碩士班(日間),50,10,40
4,101,公立,一般大學,0001,國立政治大學,140203,華語文教學博士學位學程,博士班,16,0,16
...,...,...,...,...,...,...,...,...,...,...,...
47369,統計說明：,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47370,1. 本表設立別係指【公立、私立】大學校院等分類；學校類別係指【一般大學、技專校院】等；學校...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47371,2. 本表「學制」係指【二專(日間)、二專(進修)、五專、學士班(日間)、學士班(進修)、碩...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47372,3. 本表「正式學籍在學學生人數」係指本表資料包含資料標準日(10月15日)在學且有學籍之本...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47373,4. 資料統計時間：資料由【教育部統計處】提供，以每年10月15日為統計基準日。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
data = data.iloc[:47368]

In [9]:
data.head(5)

   學年度 設立別  學校類別  學校代碼    學校名稱    系所代碼         系所名稱       學制   總計   男    女
0  101  公立  一般大學  0001  國立政治大學  140101         教育學系  學士班(日間)  234  75  159
1  101  公立  一般大學  0001  國立政治大學  140101         教育學系  碩士班(日間)   36   3   33
2  101  公立  一般大學  0001  國立政治大學  140101         教育學系      博士班   90  50   40
3  101  公立  一般大學  0001  國立政治大學  140203  華語文教學碩士學位學程  碩士班(日間)   50  10   40
4  101  公立  一般大學  0001  國立政治大學  140203  華語文教學博士學位學程      博士班   16   0   16

# 針對各學校各學制人數統計

In [10]:
data1 = data
data1 = data1.groupby(['學校名稱','學制'])['總計'].sum().sort_values()
data1

學校名稱        學制
國立臺灣戲曲學院    二專(日間)          1
大仁科技大學      二專(日間)          1
敏惠醫護管理專科學校  二專(日間)          1
崇右技術學院      二專(進修)          1
南榮技術學院      二專(日間)          1
                        ...
逢甲大學        學士班(日間)     84094
銘傳大學        學士班(日間)     87163
輔仁大學        學士班(日間)     90211
淡江大學        學士班(日間)    104753
中國文化大學      學士班(日間)    104827
Name: 總計, Length: 854, dtype: object

In [11]:
test = data[data['學校名稱']=='國立臺灣戲曲學院']
test[test['學制'] == '二專(日間)']

      學年度 設立別  學校類別  學校代碼      學校名稱    系所代碼    系所名稱      學制 總計  男  女
4029  101  公立  技專校院  0144  國立臺灣戲曲學院  210506  劇場藝術學系  二專(日間)  1  1  0

In [12]:
data1 = pd.DataFrame(data1).reset_index()
data1

           學校名稱       學制      總計
0      國立臺灣戲曲學院   二專(日間)       1
1        大仁科技大學   二專(日間)       1
2    敏惠醫護管理專科學校   二專(日間)       1
3        崇右技術學院   二專(進修)       1
4        南榮技術學院   二專(日間)       1
..          ...      ...     ...
849        逢甲大學  學士班(日間)   84094
850        銘傳大學  學士班(日間)   87163
851        輔仁大學  學士班(日間)   90211
852        淡江大學  學士班(日間)  104753
853      中國文化大學  學士班(日間)  104827

[854 rows x 3 columns]

In [13]:
college_day = data1[data1['學制'] == '學士班(日間)'].sort_values(by='總計',ascending=False).head(10)
college_day

       學校名稱       學制      總計
853  中國文化大學  學士班(日間)  104827
852    淡江大學  學士班(日間)  104753
851    輔仁大學  學士班(日間)   90211
850    銘傳大學  學士班(日間)   87163
849    逢甲大學  學士班(日間)   84094
848  國立臺灣大學  學士班(日間)   83026
847    東海大學  學士班(日間)   68452
846  南臺科技大學  學士班(日間)   66223
845    中原大學  學士班(日間)   65120
844  嘉南藥理大學  學士班(日間)   64688

In [14]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.faker import Faker


c = (
    Bar()
    .add_xaxis(list(college_day['學校名稱']))
    .add_yaxis("學士班(日間)人數", list(college_day['總計']))
    .set_global_opts(title_opts=opts.TitleOpts(title="101-105年度學士班(日間)前10人數", subtitle=""))
    .render_notebook()
)
c

# 特定學校及學制101-105年學生人數變化

In [15]:
data2 = data
data2

,學年度,設立別,學校類別,學校代碼,學校名稱,系所代碼,系所名稱,學制,總計,男,女
0,101,公立,一般大學,0001,國立政治大學,140101,教育學系,學士班(日間),234,75,159
1,101,公立,一般大學,0001,國立政治大學,140101,教育學系,碩士班(日間),36,3,33
2,101,公立,一般大學,0001,國立政治大學,140101,教育學系,博士班,90,50,40
3,101,公立,一般大學,0001,國立政治大學,140203,華語文教學碩士學位學程,碩士班(日間),50,10,40
4,101,公立,一般大學,0001,國立政治大學,140203,華語文教學博士學位學程,博士班,16,0,16
...,...,...,...,...,...,...,...,...,...,...,...
47363,105,私立,技專校院,1292,新生醫護管理專科學校,720713,視光學科,五專,293,91,202
47364,105,私立,技專校院,1292,新生醫護管理專科學校,720804,口腔衛生學科,五專,98,14,84
47365,105,私立,技專校院,1292,新生醫護管理專科學校,760401,幼兒保育科,五專,575,17,558
47366,105,私立,技專校院,1292,新生醫護管理專科學校,810514,健康休閒管理科,五專,254,69,185
47367,105,私立,技專校院,1292,新生醫護管理專科學校,810801,美容造型科,五專,417,22,395

In [16]:
all_college = pd.DataFrame(data2.groupby(['學年度','學校名稱','學制'])['總計'].sum()).reset_index()
all_college

      學年度    學校名稱       學制    總計
0     101    世新大學      博士班    72
1     101    世新大學  學士班(日間)  9528
2     101    世新大學  學士班(進修)   251
3     101    世新大學   碩士在職專班  1124
4     101    世新大學  碩士班(日間)   844
...   ...     ...      ...   ...
3677  105  龍華科技大學       五專    87
3678  105  龍華科技大學  學士班(日間)  6642
3679  105  龍華科技大學  學士班(進修)  3914
3680  105  龍華科技大學   碩士在職專班   176
3681  105  龍華科技大學  碩士班(日間)   279

[3682 rows x 4 columns]

In [17]:
nutc = all_college[all_college['學校名稱'] == '國立臺中科技大學']
nutc.head(5)

     學年度      學校名稱       學制    總計
250  101  國立臺中科技大學   二專(日間)   295
251  101  國立臺中科技大學   二專(進修)   171
252  101  國立臺中科技大學       五專  3732
253  101  國立臺中科技大學  學士班(日間)  5644
254  101  國立臺中科技大學  學士班(進修)  2517

In [18]:
from pyecharts import options as opts
from pyecharts.charts import Bar


d = (
    Bar()
    .add_xaxis(['二專(日間)','二專(進修)','五專','學士班(日間)','學士班(進修)','碩士在職專班','碩士班(日間)'])
    .add_yaxis("101", list(nutc[nutc['學年度']==101]['總計']))
    .add_yaxis("102", list(nutc[nutc['學年度']==102]['總計']))
    .add_yaxis("103", list(nutc[nutc['學年度']==103]['總計']))
    .add_yaxis("104", list(nutc[nutc['學年度']==104]['總計']))
    .add_yaxis("105", list(nutc[nutc['學年度']==105]['總計']))
    .set_global_opts(title_opts=opts.TitleOpts(title="臺中科技大學101-105學生人數", subtitle="各學制"))
    .render_notebook()
)
d